<!-- home.handlebars -->


<h1>
You were redirected to the server @ IP :  {{aws_ip}}
</h1>


<h3>Search for GIFS</h3>
<form action="/">
  <input type="text" name="term">
  <button type="submit">Search</button>
</form>


{{#each gifs}}
  <img src="{{this.images.fixed_height.url}}">
{{/each}}
